.list {
    background-color: #ebecf0;
    width: 18rem;
    margin: 1rem;
    min-width: 18rem;
    border-radius: 0.5rem;
}
.list-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}
.list-content {
    display: flex;
    flex-direction: column;
}
.list-header {
    margin: 1rem;
}
.wrapper-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 16rem;
}
.wrapper-list i {
    margin: 1rem;
}
.add-card-form {
    margin: 1rem;
    background-color: transparent;
    border-radius: 0.2rem;
    height: 2rem;
}
.add-card-form button {
    margin: 0.5rem;
}
.add-card-form input {
    margin: 0.5rem;
}
.add-card-form input:focus {
    outline: none;
}
.add-card-form input {
    border: 0;
    background-color: transparent;
}
.add-card-form button {
    border: 0;
    background-color: transparent;
}
.add-card-form:hover {
    background-color: #bdbdbd;
}
.edit-list-form {
    display: flex;
    flex-direction: column;
}
.edit-list-buttons {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}
.update-list-button {
    background-color: #5aac44;
    border: none;
    border-radius: 0.2rem;
    margin: 0.1rem;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
}
.cancel-list-button {
    background-color: #e94b2f;
    border: none;
    border-radius: 0.2rem;
    margin: 0.1rem;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    min-height: 1.5rem;
    min-width: 4rem;
}
